//------------------------------------------------------//
//SETTINGS//
//------------------------------------------------------//
@import url("//db.onlinewebfonts.com/c/56dc3231ae1aea219fb668c8be11f27a?family=Honey+Cute");
@import url("//db.onlinewebfonts.com/c/f7dc8224ce295c53314806ff8cdf949d?family=KeepCalmW01-Book");
@import url("//db.onlinewebfonts.com/c/175084d548ad0962a7e2169a21a39693?family=Sansation");
@import url('http://fonts.cdnfonts.com/css/lemonmilk');
@import url("https://fonts.googleapis.com/css2?family=Kalam&family=Poppins:wght@400;700&display=swap");

$colorpaleyellow: #ffef93;
$colordarkgrey: #424242;
$colorlightgrey: #e4e4e4;
$colordarkgreen: #2c443e;
$colorpalegreen: #91b9ac;
$colorpalegreenslide2 : #9CCBBF;
$colorpaleorange : #f8b88b;


$font-title: "Kalam", cursive;
$stupidfont : 'Lemon/Milk', sans-serif;
$font_headings : "HoneyCute", sans-serif;

//------------------------------------------------------//
//TOOLS//
//------------------------------------------------------//

//------------------------------------------------------//
//GENERIC//
//------------------------------------------------------//

//------------------------------------------------------//
//ELEMENTS//
//------------------------------------------------------//
h2{
  font-family: $font-title;
}

//------------------------------------------------------//
//OBJECTS//
//------------------------------------------------------//
.o-main {
  border: 5px solid greenyellow;
}
//------------------------------------------------------//
//COMPONENTS//
//------------------------------------------------------//
.c-nav {
  background-color: $colordarkgrey;

  &__brand {
    width: 60%;
    height: 60%;
    fill: $colordarkgrey;
  }
  
  &__link {
        margin-right: 1rem;
        @media only screen and (max-width: 768px) {
        text-align: center;
        }

        align-items: flex-end;
        text-decoration: none;

        &:hover {
        color: $colorpalegreen;
        transition-duration: 0.3s;
        }
    
        color: $colorlightgrey;


        &--active {
            margin-right: 1rem;
            @media only screen and (max-width: 768px) {
                text-align: center;
            }

            &:hover {
                color: $colorpalegreen;
            }

            padding-bottom: 0.5rem;
            color: $colorpalegreen;
            text-decoration: underline $colorpalegreen 3px;
        }
    }
}
.c-header {
  
    &__imgcontainer{
      display: flex;
      justify-content: center;
    }
  &__slide1 {
    justify-content: center;
  }

  &__slide1bg {
    background-color: $paleyellow;
    border-radius: 1.5625rem;
    padding: 3rem 0;
  }
    &__slide2bg{
        
        background-color: $colorpalegreenslide2;
        border-radius: 1.5625rem;
        padding: 3rem 0;
    }
    &__slide3bg{
        background-color: $colorpaleorange;
        border-radius: 1.5625rem;
        padding: 3rem 0;
    }
}
.c-main{
  &__videotitle{
    
  

  }
}
//------------------------------------------------------//
//BOOTSTRAP//
//------------------------------------------------------//

//------------------------------------------------------//
//UTILITIES//
//------------------------------------------------------//
.u-hotpink {
  background-color: hotpink;
}
