//------------------------------------------------------//
//SETTINGS//
//------------------------------------------------------//

@import url("http://fonts.cdnfonts.com/css/lemonmilk");
@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap");
@import url("http://fonts.cdnfonts.com/css/keep-calm");
@import url("http://fonts.cdnfonts.com/css/sansation");
@import url("https://use.typekit.net/mpy1uio.css");

$colorpaleyellow: #ffef93;
$colordarkgrey: #424242;
$colorlightgrey: #e4e4e4;
$colordarkgreen: #2c443e;
$colorpalegreen: #91b9ac;
$colorpalegreenslide2: #9ccbbf;
$colorpaleorange: #ffd0ae;
$colorpalered: #ffc4af;
$colordarkpurple: #90526d;
$colorpalepurple: #f0bbd2;

$font_title: "Lemon/Milk", sans-serif;
$font_heading: "Caveat Brush", cursive;
$font_subheading: "Keep Calm", sans-serif;
$font_text: "Sansation", sans-serif;
$font_heading2: "pauline", sans-serif;

$title_fontsize: 40px;
$heading_fontsize: 36px;
$subheading_fontsize: 32px;
$button_fontsize: 24px;
$text_fontsize: 16px;
$smalltext_fontsize: 10px;

$roundedborder: 25px;
$tab:.9375rem;
$tab2:1.25rem;

//------------------------------------------------------//
//TOOLS//
//------------------------------------------------------//

//------------------------------------------------------//
//GENERIC//
//------------------------------------------------------//

//------------------------------------------------------//
//ELEMENTS//
//------------------------------------------------------//
h1 {
  font-family: $font_title;
  font-size: $title_fontsize;
}
h2 {
  font-family: $font_heading2;
  font-size: $heading_fontsize;
}
p {
  font-family: $font_text;
  font-size: $text_fontsize;
}
body, html{
  margin: 0; 
  padding: 0; 
  height: 100%;
}
#content{
  position: absolute; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  top: 0; 
}
//------------------------------------------------------//
//OBJECTS//
//------------------------------------------------------//
.o-main {
  border: 5px solid greenyellow;
}
//------------------------------------------------------//
//COMPONENTS//
//------------------------------------------------------//
.c-nav {
  background-color: $colordarkgrey;

  &__brand {
    width: 60%;
    height: 60%;
    fill: $colordarkgrey;
  }

  &__link {
    margin-right: 1rem;
    @media only screen and (max-width: 768px) {
      text-align: center;
    }

    align-items: flex-end;
    text-decoration: none;

    &:hover {
      color: $colorpalegreen;
      transition-duration: 0.3s;
    }

    color: $colorlightgrey;

    &--active {
      margin-right: 1rem;
      @media only screen and (max-width: 768px) {
        text-align: center;
      }
      &:hover {
        color: $colorpalegreen;
      }
      padding-bottom: 0.5rem;
      color: $colorpalegreen;
      text-decoration: underline $colorpalegreen 3px;
    }
  }
}
.c-header {
  &__imgcontainer {
    display: flex;
    justify-content: center;
  }
  &__slide1 {
    justify-content: center;
  }

  &__slide1bg {
    background-color: $colorpaleyellow;
    border-bottom-left-radius: 1.5625rem;
    border-bottom-right-radius: 1.5625rem;

  }
  &__slide2bg {
    background-color: $colorpalegreenslide2;
    border-bottom-left-radius: 1.5625rem;
    border-bottom-right-radius: 1.5625rem;

  }
  &__slide3bg {
    background-color: $colorpaleorange;
    border-bottom-left-radius: 1.5625rem;
    border-bottom-right-radius: 1.5625rem;

  }
}
.c-subtitle {
  font-family: $font_heading;
  font-size: $heading_fontsize;
  padding: 3rem 0;
}
.c-main {
  &__video {
    border-radius: $roundedborder;
  }
}
.c-onzeaanbiedingen {
  &__merknaam {
    margin: 0 auto;
  }
  &__itemname {
    font-weight: 600;
  }
  &__promotiegetal {
    background-color: $colorpalered;
    font-weight: 600;
    border-radius: 0.9375rem;
    padding: 0.3rem;
    text-align: center;
  }
  &__hoeveelheid {
    font-size: $smalltext_fontsize;
  }
  &__prijzen {
    margin-left: 2.7rem;
    font-weight: 600;
  }
  &__button {
    background-color: $colorpalegreenslide2;
    padding: 0.2rem 3rem;
    border-radius: 15px;
    display: flex;
    justify-content: center;

    &:hover {
      background-color: $colordarkgreen;
      transition-duration: 0.3s;
    }
  }
  &__buttonimage {
    width: 50%;
    height: 50%;
  }
  &__buttoncontainer {
    padding-top: 2rem;
  }
  &__promotiebutton {
    text-decoration: none;
    background-color: $colorpalepurple;
    padding: 0.8rem 3rem;
    color: $colordarkpurple;
    font-family: $font_subheading;
    font-size: $button_fontsize;
    border-radius: 15px;
    &:hover {
      background-color: $colordarkpurple;
      color: $colorpalepurple;
      transition-duration: 0.3s;
    }
  }
}

.c-nieuwsbrief {
  &__tekstcontainer {
    margin-left: 0 auto;
    margin-right: 0 auto;
  }
  &__tekst{
    font-family: $font_subheading ;
  }
  &__inputcontainer{
    text-align: center;
    display: flex;

  }

  &__arrow{
    padding: 0.3rem;
    background-color: $colorpaleorange;
  }
}
.c-contactus{

}
.c-tab{
  margin-left: $tab;
}
.c-tab2{
  margin-left: $tab2;
}
//------------------------------------------------------//
//BOOTSTRAP//
//------------------------------------------------------//
.form-control{
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: $colorpaleorange;
  display: flex;
  border: none;
  
}
.form-control:focus{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: $colorpaleorange;
  box-shadow: none;
  border-color: transparent;

}
.accardion, .accordion-header{
  text-align: center;
}

//------------------------------------------------------//
//UTILITIES//
//------------------------------------------------------//
.u-hotpink {
  background-color: hotpink;
}
