@import url("http://fonts.cdnfonts.com/css/lemonmilk");
@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap");
@import url("http://fonts.cdnfonts.com/css/keep-calm");
@import url("http://fonts.cdnfonts.com/css/sansation");
@import url("https://use.typekit.net/mpy1uio.css");
h1 {
  font-family: "Lemon/Milk", sans-serif;
  font-size: 40px;
}

h2 {
  font-family: "pauline", sans-serif;
  font-size: 36px;
}

p {
  font-family: "Sansation", sans-serif;
  font-size: 16px;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.o-main {
  border: 5px solid greenyellow;
}

.c-nav {
  background-color: #424242;
}

.c-nav__brand {
  width: 60%;
  height: 60%;
  fill: #424242;
}

.c-nav__link {
  margin-right: 1rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-decoration: none;
  color: #e4e4e4;
}

@media only screen and (max-width: 768px) {
  .c-nav__link {
    text-align: center;
  }
}

.c-nav__link:hover {
  color: #91b9ac;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.c-nav__link--active {
  margin-right: 1rem;
  padding-bottom: 0.5rem;
  color: #91b9ac;
  -webkit-text-decoration: underline #91b9ac 3px;
          text-decoration: underline #91b9ac 3px;
}

@media only screen and (max-width: 768px) {
  .c-nav__link--active {
    text-align: center;
  }
}

.c-nav__link--active:hover {
  color: #91b9ac;
}

.c-header__imgcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-header__slide1 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-header__slide1bg {
  background-color: #ffef93;
  border-bottom-left-radius: 1.5625rem;
  border-bottom-right-radius: 1.5625rem;
  padding: 3.5rem 0;
}

.c-header__slide2bg {
  background-color: #9ccbbf;
  border-bottom-left-radius: 1.5625rem;
  border-bottom-right-radius: 1.5625rem;
  padding: 5.7rem 0;
}

.c-header__slide3bg {
  background-color: #ffd0ae;
  border-bottom-left-radius: 1.5625rem;
  border-bottom-right-radius: 1.5625rem;
  padding: 4rem 0;
}

.c-subtitle {
  font-family: "Caveat Brush", cursive;
  font-size: 36px;
  padding: 3rem 0;
}

.c-main__video {
  border-radius: 25px;
}

.c-onzeaanbiedingen__merknaam {
  margin: 0 auto;
}

.c-onzeaanbiedingen__itemname {
  font-weight: 600;
}

.c-onzeaanbiedingen__promotiegetal {
  background-color: #ffc4af;
  font-weight: 600;
  border-radius: 0.9375rem;
  padding: 0.3rem;
  text-align: center;
}

.c-onzeaanbiedingen__hoeveelheid {
  font-size: 10px;
}

.c-onzeaanbiedingen__prijzen {
  margin-left: 2.7rem;
  font-weight: 600;
}

.c-onzeaanbiedingen__button {
  background-color: #9ccbbf;
  padding: 0.2rem 3rem;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-onzeaanbiedingen__button:hover {
  background-color: #2c443e;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.c-onzeaanbiedingen__buttonimage {
  width: 50%;
  height: 50%;
}

.c-onzeaanbiedingen__buttoncontainer {
  padding-top: 2rem;
}

.c-onzeaanbiedingen__promotiebutton {
  text-decoration: none;
  background-color: #f0bbd2;
  padding: 0.8rem 3rem;
  color: #90526d;
  font-family: "Keep Calm", sans-serif;
  font-size: 24px;
  border-radius: 15px;
}

.c-onzeaanbiedingen__promotiebutton:hover {
  background-color: #90526d;
  color: #f0bbd2;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.c-nieuwsbrief__tekstcontainer {
  margin-left: 0 auto;
  margin-right: 0 auto;
}

.c-nieuwsbrief__tekst {
  font-family: "Keep Calm", sans-serif;
}

.c-nieuwsbrief__inputcontainer {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-nieuwsbrief__arrow {
  padding: 0.3rem;
  background-color: #ffd0ae;
}

.form-control {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #ffd0ae;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
}

.form-control:focus {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #ffd0ae;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: transparent;
}

.u-hotpink {
  background-color: hotpink;
}
